.cover__subtitle {
    max-width: 360px;
    margin: 0;
    margin-top: 30px;

    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
}


@media screen and (max-width: 720px) {
    .cover__subtitle {
        width: 310px;

        font-size: 14px;
        line-height: 16px;
    }
}


@media screen and (max-width: 490px) {
    .cover__subtitle {
        width: 288px;
    }
}