.place__paragraphs {
    max-width: 484px;
    grid-column: span 1;
}


@media screen and (max-width: 1200px) {
    .place__paragraphs {
        max-width: 456px;
    }
}


@media screen and (max-width: 940px) {
    .place__paragraphs {
        max-width: 352px;
    }
}


@media screen and (max-width: 490px) {
    .place__paragraphs {
        max-width: 288px;
    }
}