.place__paragraphs {
    max-width: 484px;
    grid-column: span 1;
}


@media screen and (max-width: 1150px) {
    .place__paragraphs {
        max-width: 456px;
    }
}


@media screen and (max-width: 900px) {
    .place__paragraphs {
        max-width: 352px;
    }
}


@media screen and (max-width: 450px) {
    .place__paragraphs {
        max-width: 288px;
    }
}