.footer__links {
    margin: 0;
    padding-top: 92px;
    padding-bottom: 24px;
    padding-left: 48px;
    
    list-style-type: none;
    display: flex;
}


@media screen and (max-width: 1150px) {
    .footer__links {
        padding-top: 90px;
    }
}


@media screen and (max-width: 900px) {
    .footer__links {
        padding-top: 88px;
        padding-left: 24px;
    }
}


@media screen and (max-width: 450px) {
    .footer__links {
        padding-top: 25px;
        padding-left: 16px;
        padding-bottom: 0;

        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}