.into__title {
    max-width: 700px;
    margin: 0;
    margin-left: 11.5%;
    padding-top: 92px;
    text-align: left;

    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
}


@media screen and (max-width: 1200px) {
    .into__title {
        margin-left: 4.7%;
    }
}


@media screen and (max-width: 940px) {
    .into__title {
        max-width: 720px;
        padding-top: 88px;
        margin: 0 auto;
    }
}


@media screen and (max-width: 720px) {
    .into__title {
        max-width: 500px;
        height: 70px;
        padding-top: 64px;

        font-size: 40px;
        line-height: 35px;
    }
}


@media screen and (max-width: 490px) {
    .into__title {
        max-width: 288px;
        height: 70px;
        padding-top: 64px;

        font-size: 32px;
        line-height: 35px;
    }
}